.choice {
    display: block;
    margin-top: 102px;
    &__subinfo {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
       }
    &__title {
        margin-left: 40px;
        color: #2e2e2e;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
    }
    &__text {
        width: 879px;
        height: 44px;
        margin-left: 390px;
        margin-top: 17px;
        color: #2e2e2e;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: center;           
    }
    &__descr {
        hr {
            display: flex;
            margin-left: 780px;
            margin-top: 20px;
            width: 148px;
            height: 1px;
            background-color: #ec644b;
            border: none;
        }
    }
    &__item {
        margin-top: 28px;
        width: 359px;
        height: 130px;  
    }
    
    &__sub {
        color: #ec644b;
        font-family: "Roboto - Bold";
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }
    &__lang {
        color: #3a3a3a;
        font-family: Roboto;
        margin-top: 4px;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 22px;
        text-align: center;
    }
   
}